@page "{id}"
@model AndrewLock_NestedViews.Pages.ToDos.ViewToDoModel
@{
    ViewData["Title"] = "View To-Do";
}

// Partial views are purely about rendering small sections of HTML.

<p>
    @if (Model.Item.IsComplete)
            {
                <strong>This task is complete!</strong>
            }
            else
            {
                <partial name="_ToDo" model="Model.Item"/>
            }
</p>
