@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<ul>
    <li>
        <a asp-page="Checkout">Go to checkout</a>
    </li>
    <li>
        <a asp-page="SelectLists">Go to select-a-list</a>
    </li>
    <li>
        <a asp-page="/MoreList/EmployeeView">Go to select-a-developer</a>
    </li>
    <li>
        <a asp-page="/MoreList/SelectList">Go to select-a-language</a>
    </li>
</ul>

@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}