@page "{number}"
@model ToDoList.Pages.Shared.CalculateSquareModel
@{
    ViewData["Title"] = "CalculateSquare";
}


<h1>Calculating squares & cubes</h1>

<p>The square of @Model.Input is @Model.Square</p>
<p>The cube of @Model.Input is @Model.Cube</p>