@page "{id}"
@model AndrewLock_5RazorViews.Pages.ToDoItemModel
@{
}

<h1>@Model.Title</h1>


<div>
    @if (Model.IsComplete)
    {
        <strong>Well done, you’re all done!</strong>
    }
    else
    {
        <strong>The following tasks remain:</strong>
        <ul>
            @foreach (var task in Model.Tasks)
            {
                <li>@task</li>
            }
        </ul>
    }
</div>